[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentence-transformers = "*"
tensorflow = "*"
scipy = "*"

[dev-packages]
pandas = "*"
jupyter = "*"
ipykernel = "*"
matplotlib = "*"
autopep8 = "*"

[packages.interference]
editable = true
git = "https://github.com/daxtery/Trigger-Recommendations.git"
