[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentence-transformers = "*"
scipy = "*"
Flask = "*"
pymongo = "*"
tensorflow = "==2.4.1"
dnspython = "*"
Flask-APScheduler = "*"
tensorflow-recommenders = "*"

[dev-packages]
pandas = "*"
autopep8 = "*"

[packages.interference]
git = "https://github.com/daxtery/Interference.git"
editable = true
