[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sentence-transformers = "*"
scipy = "*"
Flask = "*"
pymongo = "*"
tensorflow = "==2.4.1"
dnspython = "*"
flask-apscheduler = "*"

[dev-packages]
pandas = "*"
jupyter = "*"
ipykernel = "*"
matplotlib = "*"
autopep8 = "*"

[packages.interference]
editable = true
git = "https://github.com/daxtery/Trigger-Recommendations.git"
